body {
    background: #ffffff;
    color: black;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}


/* NAV HEADER */
.header {
    background: #413838;
    color: #ffffff;
    padding-top: 20px;
    margin-bottom: 30px;
    height: fit-content;
    width: 100%;
}


/* NAV TITLE */
.title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: 30px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}


/* NAV MENU */
ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.menuLi {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 10px;
    margin: 20px;
}


/* MAIN CONTENT */
.content {
    width: 100%;
    margin: auto;
    padding: 25px;
    overflow: auto;
    align-content: center;
    line-height: 25px;
}

.content-title {
    border-bottom: solid 2px #cccccc;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 10px;
}

/* IMAGE */
#headshot {
    object-fit: cover;
    height: 320px;
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 10px double #d1baba;
}


/* NAV MENU PSEUDO-CLASSES */
a {
    text-decoration: none;
}

a:link {
    color: #d1baba;
  }

  a:visited {
    color: #fcc0d7;
  }

  a:hover {
    color: #81c4cf;
  }

  /* Why does the style not stay active? */
  a:active {
    color: white;
    text-decoration: underline;
  }


/* CONTACT PAGE */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 30px;
}

input[type=submit] {
    background: #81c4cf;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.name-title{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.email-title{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.subject-title{
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* PORTFOLIO PAGE */
.project-container {
    float: left;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 30px;
}

.image {
    display: block;
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 10px double #d1baba;
}

.overlay {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    opacity: 0.7;
    background: #ffffff;
    color: black;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 5px;
    text-align: center;
}