body {
    background: #ffffff;
    color: black;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}


/* NAV HEADER */
.header {
    background: #413838;
    color: #ffffff;
    padding-top: 20px;
    margin-bottom: 30px;
    height: fit-content;
    border-bottom: solid 1px #cccccc;
    width: 100%;
}


/* NAV TITLE */
.title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: 30px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}


/* NAV MENU */
ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.menuLi {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 10px;
    margin: 20px;
}


/* MAIN CONTENT */
.content {
    width: 100%;
    margin: auto;
    padding: 25px;
    overflow: auto;
    align-content: center;
    line-height: 25px;
}

.content-title {
    border-bottom: solid 2px #cccccc;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 10px;
}

/* IMAGE */
#headshot {
    width: 20%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: double rgb(134, 132, 130);
}

/* FOOTER */
.footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}